@font-face {
  font-family: "Gotham";
  font-weight: normal;
  src: url("./assets/fonts/Gotham-Book.otf") format("opentype");
}

@font-face {
  font-family: "Gotham";
  font-weight: 100;
  src: url("./assets/fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
  font-family: "Gotham";
  font-weight: medium;
  src: url("./assets/fonts/Gotham-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Gotham";
  font-weight: bold;
  src: url("./assets/fonts/Gotham-Bold.otf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Gotham", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(235, 235, 235);
  line-height: 1.25;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Utility Classes */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
}

.btn {
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: gray;
  font-size: 1rem;
  height: 3rem;
  font-weight: medium;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .chevron {
    margin-left: 0.5rem;
    margin-right: -0.5rem;
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    .chevron {
      margin-left: 1rem;
      margin-right: -1rem;
    }
  }
}

.btn-outline-light {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: white;
    color: black;
  }
}

.btn-outline-dark {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: black;
    color: white;
  }
}

.btn-dark {
  background-color: black;
  color: white;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: #1f1f1f;
  }
}

.btn-white {
  background-color: white;
  color: black;
  transition: all 0.2s ease-in-out;
  &:hover {
    background: rgb(218, 218, 218);
  }
}
